@functions {
    string readableFileSize (long size) {
        var units = new []{ "B", "kB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB" };
        int i = 0; 
        var selectedUnit = units[0];
        while( size > 1024 || i == units.Count()-1) {
            size /= 1024;
            selectedUnit = units[++i];
        }
        return System.String.Format("{0} {1}", size, selectedUnit);
    }
    
    string dumpDownloadtableFromCsv(string csvFilePath) {
        string[] downloadTableCsv = System.IO.File.ReadAllLines(csvFilePath);
        string content = "<tr><th width=\"120\" scope=\"col\">Filename</th><th width=\"160\" scope=\"col\">Date</th><th width=\"50\" scope=\"col\">Size</th><th>Description</th></tr>";
        bool alt = false;
        foreach (string ligneText in downloadTableCsv) {
            string[] ligne = ligneText.Split(',').Select(x=>x.Replace("\"","")).ToArray();
            string fsize = "";
            string link = "";
            string filePath = @Model.Properties["sourceroot"] + @"/software/cracklock/downloads/" + ligne[0];
            if(System.IO.File.Exists(filePath)) {
                fsize = readableFileSize(new System.IO.FileInfo(filePath).Length);
                link = "<a href=\"downloads/" + ligne[0] + "\">" + ligne[0] + "</a>";
                if( ligne[1] != "" ) {
                    link = link + "<br/><a href=\"downloads/" + ligne[1] + "\">" + ligne[1] + "</a>";
                }
            } else {
                link = ligne[0];
                fsize = "missing";
            }
            var className = alt ? "filenamealt" : "filename";
            content +=
                "<tr>" +
                "<th class=\"@className\" scope=\"row\">" + link + "</th>" +
                "<td class=\"alt\">" + @ligne[2] + "</td>" +
                "<td class=\"alt\">" + @fsize + "</td>" +
                "<td class=\"alt\">" + @ligne[3] + "</td>" +
                "</tr>";
            alt = !alt;
        }
        return content;
    }
}

<table class="mytable" cellspacing="0"  summary="Previous versions of Cracklock">
    <caption>Previous versions of Cracklock</caption>
    @dumpDownloadtableFromCsv(@Model.Properties["sourceroot"] + "/sources/static/software/cracklock/filesdescr.csv")
</table>
