source http://nuget.org/api/v2
nuget FAKE 4.7.2
nuget FSharp.DependencyManager.Paket
nuget FSharp.Formatting 11.2.0
nuget FSharp.Formatting.Literate 11.2.0
nuget FSharp.Formatting.CommandTool 11.2.0

nuget Newtonsoft.Json
nuget Suave
nuget DotLiquid
nuget WindowsAzure.Storage