<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>  
    <rewrite>
        <rules>
            <rule name="Root Hit Redirect" stopProcessing="true">
                <match url="^$" />
                <action type="Redirect" url="blog/index.php" />
            </rule>
            <rule name="old1" stopProcessing="true">
                <match url="^~william/$" />
                <action type="Redirect" url="blog/index.php" />
            </rule>
            <rule name="old2" stopProcessing="true">
                <match url="^cracklock/$" />
                <action type="Redirect" url="software/cracklock/" />
            </rule>
            <rule name="old3" stopProcessing="true">
                <match url="^mscthesis/$" />
                <action type="Redirect" url="research" />
            </rule>
            <rule name="old4" stopProcessing="true">
                <match url="^softwares/$" />
                <action type="Redirect" url="software" />
            </rule>
            
            <rule name="blog1" stopProcessing="true">
                <match url="^blog/index.php?entry=entry071201-200254$" />
                <action type="Redirect" url="blog/entry071201-200254.html" />
            </rule>
            <rule name="blog2" stopProcessing="true">
                <match url="^blog/index.php?entry=entry080121-063152$" />
                <action type="Redirect" url="blog/entry080121-063152.html" />
            </rule>

            <rule name="blog3" stopProcessing="true">
                <match url="^blog/index.php?entry=entry080514-043933$" />
                <action type="Redirect" url="blog/entry080514-043933" />
            </rule>
            <rule name="blog4" stopProcessing="true">
                <match url="^blog/index.php?entry=entry080515-065447$" />
                <action type="Redirect" url="blog/entry080515-065447" />
            </rule>
            <rule name="blog5" stopProcessing="true">
                <match url="^blog/index.php?entry=entry080612-040012$" />
                <action type="Redirect" url="blog/entry080612-040012" />
            </rule>
            <rule name="blog6" stopProcessing="true">
                <match url="^blog/index.php?entry=entry081007-214408$" />
                <action type="Redirect" url="blog/entry081007-214408" />
            </rule>
            <rule name="blog7" stopProcessing="true">
                <match url="^blog/index.php?entry=entry101116-033103$" />
                <action type="Redirect" url="blog/entry101116-033103" />
            </rule>
            <rule name="blog8" stopProcessing="true">
                <match url="^blog/index.php?entry=entry110123-113226$" />
                <action type="Redirect" url="blog/entry110123-113226" />
            </rule>
            <rule name="blog9" stopProcessing="true">
                <match url="^blog/index.php?entry=entry150223-003713$" />
                <action type="Redirect" url="blog/entry150223-003713" />
            </rule>
            <rule name="blog10" stopProcessing="true">
                <match url="^blog/index.php?entry=entry150223-003713$" />
                <action type="Redirect" url="blog/entry150223-003713" />
            </rule>
            <rule name="blog11" stopProcessing="true">
                <match url="^blog/static.php?page=static081010-000413$" />
                <action type="Redirect" url="blog/static081010-000413" />
            </rule>
        </rules>
    </rewrite>

    <httpErrors errorMode="Custom">
    <clear/>
    <error statusCode="404" path="/404.html" responseMode="Redirect"/>
    </httpErrors>
     
    <handlers>
     <add name="PHP via FastCGI" 
           path="*.html" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="D:\Program Files (x86)\PHP\v5.4\php-cgi.exe" 
           resourceType="Unspecified" /> 
    </handlers>


</system.webServer>
<system.web>    
    <customErrors mode="On">
        <error statusCode="404" redirect="/404.html"/>
    </customErrors>
</system.web>
</configuration>

<!-- 
ErrorDocument 404 /404.html
Redirect permanent  /~william/ http://william.famille-blum.org/
Redirect permanent  /cracklock/ http://william.famille-blum.org/softwares/cracklock/
Redirect permanent  /mscthesis/ http://william.famille-blum.org/research/
Redirect permanent  /softwares/ http://william.famille-blum.org/software/
Redirect permanent  /index.html http://william.famille-blum.org/blog/index.php
-->