<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>  
    <rewrite>
        <rules>
            <rule name="Root Hit Redirect" stopProcessing="true">
                <match url="^$" />
                <action type="Redirect" url="blog/index.php" />
            </rule>
            <rule name="old1" stopProcessing="true">
                <match url="^~william/$" />
                <action type="Redirect" url="blog/index.php" />
            </rule>
            <rule name="old2" stopProcessing="true">
                <match url="^cracklock/$" />
                <action type="Redirect" url="software/cracklock/" />
            </rule>
            <rule name="old3" stopProcessing="true">
                <match url="^mscthesis/$" />
                <action type="Redirect" url="research" />
            </rule>
            <rule name="old4" stopProcessing="true">
                <match url="^softwares/$" />
                <action type="Redirect" url="software" />
            </rule>
        </rules>
    </rewrite>

    <httpErrors errorMode="Custom">
    <clear/>
    <error statusCode="404" path="/404.html" responseMode="Redirect"/>
    </httpErrors>
     
    <handlers>
     <add name="PHP via FastCGI" 
           path="*.html" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="D:\Program Files (x86)\PHP\v5.4\php-cgi.exe" 
           resourceType="Unspecified" /> 
    </handlers>


</system.webServer>
<system.web>    
    <customErrors mode="On">
        <error statusCode="404" redirect="/404.html"/>
    </customErrors>
</system.web>
</configuration>

<!-- 
ErrorDocument 404 /404.html
Redirect permanent  /~william/ http://william.famille-blum.org/
Redirect permanent  /cracklock/ http://william.famille-blum.org/softwares/cracklock/
Redirect permanent  /mscthesis/ http://william.famille-blum.org/research/
Redirect permanent  /softwares/ http://william.famille-blum.org/software/
Redirect permanent  /index.html http://william.famille-blum.org/blog/index.php
-->