<div id="footer">
        <table width="100%" style="border-top: 0px solid #FFE6E6;">
        <tr>
            <td class="nobg" align="left">This is a disturbance, if you are reading this then you have just been disturbed. (Note: this joke predates the invention of Facebook.)
            </td>
            <td class="nobg" align="right">
            </td>
        </tr>
        </table>
</div>
