@{
var cursection = "home";
var cursubsection = "";

var menus_url = new Dictionary<string, string>
    {
        { "home" , "" },
        { "research" , "research/index.html" },
        { "software" , "software/index.html" },
        { "photos" , "photos/index.html" },
        { "links" , "links.html" }
    };
    
var menus_img = new Dictionary<string,string>
    {
        { "home" , "images/home2.png" },
        { "research" , "images/research2.png" },
        { "software" , "images/cd2.png" },
        { "photos" , "images/colour_collage.png" },
        { "links" , "images/links2.png" }
    };

var menus_submenus_url = new Dictionary<string,Dictionary<string,string>>
    {
        { "home", new Dictionary<string, string> {} },
        { "research", new Dictionary<string,string> {
                            {"Index" , "/research/index.html" },
                            {"Publications",  "/research/publications.html" },
                            {"Tools", "/research/tools.html" },
                            {"References", "/rese }arch/references.html" }
                     } },
        { "software", new Dictionary<string,string>
                    {
                        { "SumatraPDF", "/software/sumatra/index.html" },
                        { "Cracklock",  "/software/cracklock/index.html" },
                        { "OncelesGL",  "/software/oncelesgl/index.html" },
                        { "LaTeX tools", "/software/latex/index.html" },
                        { "LaTeXDaemon", "/software/latexdaemon/index.html" },
                        { "TrueType for LaTeX",  "/software/latexttf/index.html" },
                        { "Others", "/software/others/index.html" }
                    } },
        {"photos",  new Dictionary<string, string> {} },
        {"links",  new Dictionary<string, string> {} }
     };
}

<div id="header" >
    <div class="menu">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" 
        style="background:url('@Root/common/bg_menu.png'); background-repeat:repeat; border: 1px solid #aaa; padding-top:5px; padding-bottom:5px; padding-right:20px;"> 
        <tr>
            <td class="nobg" width="150" align="center" style="padding-left:0px;">
                <div style="margin-top:17px; padding-left:0px;">
                <a href="http://william.famille-blum.org" >
                <img src="@Root/images/title.png" alt="william.famille-blum.org" border="0" />
                </a>
                </div>
            </td>
            @{
                foreach(var m in menus_url) {
                    var sec = m.Key;
                    var url = m.Value;
                    
                    var img = menus_img[sec];
                    @:  <td class="nobg" width="100" align="center">
                    @:    <a href="@Root/@url">
                    @:     <img src="@Root/@img" border="0" alt="@sec" />
                    @:    </a>
                    @:  </td>
                }
            }
            <td class="nobg">
                <!-- SiteSearch Google -->
                <div class="search">
                    <form method="get" action="http://william.famille-blum.org/search.html" target="google_window">
                        <input name="domains" value="william.famille-blum.org" type="hidden" />
                        <input name="q" size="30" maxlength="255" value="" type="text" />
                        <input name="sa" value="Search"  id="sbb" class="button" type="submit" />
                        <input name="sitesearch" value="william.famille-blum.org" checked="checked"  type="hidden" />
                        <input name="client" value="pub-7250791356906762" type="hidden" />
                        <input name="forid" value="1" type="hidden" />
                        <input name="ie" value="ISO-8859-1" type="hidden" />
                        <input name="oe" value="ISO-8859-1" type="hidden" />
                        <input type="hidden" name="cof" value="GALT:#008000;GL:1;DIV:#336699;VLC:663399;AH:center;BGC:FFFFFF;LBGC:336699;ALC:005FA9;LC:005FA9;T:000000;GFNT:0000FF;GIMP:0000FF;LH:48;LW:100;L:http://william.famille-blum.org/images/title.png;S:http://william.famille-blum.org/;FORID:11"></input>
                        <input name="hl" value="en" type="hidden" />
                    </form>
                </div>
                <!-- SiteSearch Google -->
            </td>
        </tr>
        <tr>
            <td class="nobg" />
            @{
                foreach(var m in menus_url) {
                    var url = m.Value; 
                    var sec = m.Key;
                    <td class="nobg" width="100" align="center">
                            <a href="@Root/@url">
                            @if(@cursection==@sec) {
                                <b>@sec</b> 
                            } else {
                                @sec
                            }
                        </a>
                    </td>
                }
            }
            <td class="nobg" />
    </tr>
    </table>

    @{
    if(menus_submenus_url[cursection].Count>0) {
        <table width="100%" border="0" cellpadding="0" cellspacing="0" 
        style="padding-top:5px; margin-top:5px; border:0;">
            <tr style="background:url(/images/bg_submenubar.jpg);">
            <td colspan="5" align="center" class="nobg" style="background:url(/images/bg_submenubar.jpg); padding: 0.3em 0.6em;
                border-right: 0; border-bottom: 1px solid #C1DAD7;  border-top: 1px solid #C1DAD7;">
            <center>
                <span class="subsectionlink">&nbsp;&nbsp;
                @foreach(var kvp in menus_submenus_url[cursection]) {
                    var submenu = kvp.Key;
                    var suburl = kvp.Value;
                    <br/><a href="@Root/@suburl">
                    @if(@cursubsection==@submenu) {
                        <b>@submenu</b> 
                    } else {
                        @submenu
                    }
                    </a>
                    @: &nbsp;&nbsp;
                }
                </span>
            </center>
            </td>
        </tr>
        </table>
    }
    }
    </div>
</div>

