    <div class="span3">
        <ul class="nav nav-list" id="menu">
        <li class="nav-header">
            <a href="@Root/index.html">@Properties["project-name"]</a></li>
        <li class="divider"></li>
        <li class="nav-header"><a href="@Root/research/index.html">Research</a></li>
        <li><a href="@Root/research/publications.html">Publications</a></li>
        <li><a href="@Root/research/tools.html">Tools</a></li>
        <li><a href="@Root/research/references.html">References</a></li>
        <li class="divider"></li>
        <li class="nav-header"><a href="@Root/software/index.html">Software</a></li>
        <li><a href="@Root/software/sumatra/index.html">SumatraPDF</a></li>
        <li><a href="@Root/software/cracklock/index.html">Cracklock</a></li>
        <li><a href="@Root/software/oncelesgl/index.html">OncelesGL</a></li>
        <li><a href="@Root/software/latex/index.html">LaTeX tools</a></li>
        <li><a href="@Root/software/latexdaemon/index.html">LaTeXDaemon</a></li>
        <li><a href="@Root/software/latexttf/index.html">TrueType for LaTeX</a></li>
        <li><a href="@Root/software/others/index.html">Others</a></li>
        <li class="nav-header">Personal</li>
        <li><a href="@Root/aboutme.html">About me</a></li>
        <li><a href="@Root/photos/index.html">Photos</a></li>
        <li><a href="@Root/links.html">Links</a></li>
        <li class="nav-header">Top downloads</li>
        <li><a href="@Root/software/cracklock/index.html">Cracklock 3.9</a></li>
        <li><a href="@Root/software/latex/index.html">pstring 0.3</a></li>
        <li><a href="@Root/software/latexdaemon/index.html">LatexDaemon 0.9</a></li>

        <li class="nav-header">Credits</li>
        <li><a href="http://tpetricek.github.io/FSharp.Formatting/">F# Formatting</a></li>
        </ul>
    </div>
