header {
  font-size: xx-large;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-bottom: 20px;
  margin-top: 20px;
}

subsectionlink{
  color: #005FA9;
  text-decoration: none;
  font-size: 80%;
}
.source { font-family: "Courier New", Courier, mono; }
.date {	color: #660000; }


  #g_title p, #g_description p {
    margin: 0;
  }

code {
  background-color: #f9f9f9;
}

.bibtex pre {
  padding: 1em;
    margin: 0em 0em 1em 0em;
  border: 1px dashed #2f6fab;
  color: black;
  font-size: 80%;    
  background-color: #f9f9f9;
  line-height: 1.1em;
}

.bibtex  h5 {
  background: transparent;
  padding: 0 1em 0 .5em;
  display: inline;
  height: 1em;
  text-transform: lowercase;
  font-size: 80%;
  font-weight: normal;
  white-space: nowrap;
}

  /* Extra divs hidden by default. The custom CSS can override this though */
  #extraDiv1, #extraDiv2, #extraDiv3, #extraDiv4, #extraDiv5, #extraDiv6 {
    display: none;
  }


/*body { } */
  #container {
  width: 100%;
    text-align: left;
    margin: 0 0 auto;
  }
  #main-content {
  /* margin: 0 10em .6em -12.2em;*/
  margin-left: 200px;
  border-left: 1px solid gray;
  /*margin-right: 200px;*/
  border-right: 1px solid gray;
/*    min-width: 500px;*/
  }
  #sidebar {
    float: left;
    position:relative;
    width: 120px;
  }
  #sidebar-alternate {
    float: right;
    position:relative;
    margin-left: 0px;
    width: 120px;
  }
/*  #footer {
  margin-top: 1.25em;
  background: #bbb url(common/footer-bg.png) repeat-x left top;
  clear: both;
  }
  */
  .footer {
    position: absolute;
    bottom: 0;
    clear:both;
    width: 100%;
    height : 60px;
    background: #bbb url(common/footer-bg.png) repeat-x left top;
  }
 
  
  /** BEGIN CUSTOM SKIN **/
  /* general layout */

  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 17px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;    
    padding: 0em;
    border-top: 0em;
  }
  body div#container {
    padding: 0em;
    margin-top: 0em;
    border-top: 1px solid #e2e6ec; /* a hack: without it Firefox adds top margin in layouts with sidebar */
/*    background: url(/-/includes/style/madison/madison-one/container-top.gif) top no-repeat; */
  }
  div#container div.wrapper {
    padding: 0em;
    margin: 0em;
  }
  div#header {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding: 0em 0em 0em 0em;
/*    _padding-bottom: 1em; */ /* hack for IE6 */
  }
  div#header div.wrapper {
    padding: 0em;
    margin: 0em;
  }

  #header div.menu {
    top: 5px;
    left: 100px;
    text-align: right;
    white-space: nowrap;
  }
  
  div.search input {
      font-size: 93%;
      width: 110px;
      margin-bottom: 0px;
    }
    div.search input.button { width: auto; margin-left: 5px; }
  
  div#main-content {
    line-height: 100%;
    color: #3f3f3f;
/*    background: url(/-/includes/style/madison/madison-one/content-top.gif) top no-repeat; */
    background: white;
  color: black;
  border: 1px solid #aaa; 
  /*border-right: none; */
  line-height: 1.5em;
  }
  
  div#sidebar,div#sidebar-alternate {
    font-size: 83%;
    line-height: 100%;
    color: #3f3f3f;
/*    background: url(/-/includes/style/madison/madison-one/content-top.gif) top no-repeat;*/
    padding: 0em;
    /*margin: 0em;*/
    padding-top: 0em;
  }

  /* adjusting widths for different layouts */

  body#onecolumn div#main-content {
    padding: 0em 35px;
    width: 648px; 
  }
  
  body#twocolumn-right div#main-content {
    padding: 0em 25px;
    width: 420px;
    margin-left: 10px;
  }
  body#twocolumn-right div#sidebar {
    padding-right: 15px;
    width: 215px;
  }
  
  
  body#twocolumn-left div#main-content {
    padding: 10px 1em;
  margin-left: 170px; 
    margin-right: 20px; 
  margin-top: 0px;
  }
  body#twocolumn-left div#sidebar {
  margin-top: 0px;
  margin-left: 10px;
    padding-left: 15px;
    width: 125px;
  clear:both;
  
  }
  

  
  
  body#threecolumn div#main-content {
    padding: 10px 1em;
  margin-left: 150px; 
    margin-right: 150px; 
  margin-top: 0px;
  }
  body#threecolumn div#sidebar {
    width: 125px;
  margin-top: 0px;
    margin-left: 1.2em;
    padding-left: 0em;
    display: inline;
  /* position:absolute; */
  }
  body#threecolumn div#sidebar-alternate {
    padding-right: 0em;
    margin-right: 1em;
    width: 125px;
  margin-top: 0px;
  display: inline;
  }

  /* general styles: headings */
  p.description {
    font-family: Verdana, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: black; /*#666633  headline_txt_color */
    margin: 2px 0px 2px 0px;
  }
  h1, h2, h3, h4, h5, h6{
    font-family: Verdana, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: black; /*#666633  headline_txt_color */
    /*text-shadow: #bbb 2px 2px 1px;*/
    /*margin: 2px 0px 2px 0px;*/
  }
  h1 {
    font-size: 160%;
    font-weight: bold;
    padding-bottom: 0.2em;
    margin-bottom: 1em;
    display: table; 
    line-height: 120%; /* for padding below, the above line took away other possibilities */
  }
  h2 {
    font-size: 130%;
    font-weight: normal;
    padding-bottom: 0.1em;
    margin-bottom:1em;
    margin-top:1em;
    display: table; /* so that the underline spans only text width, and not the entire page */
    line-height: 110%; /* for padding below, the above line took away other possibilities */
  }
  h3 {
    font-size: 100%;
    font-weight: normal;
    padding-bottom: 0.2em;
    margin-bottom:5px;
    display: table;   /* so that the underline spans only text width, and not the entire page */
  }
  h4 {
    font-size: 90%;
    font-weight: bold;
  /* border-bottom: 1px solid #b3e6e6; */
    padding-bottom: 0.1em;
    display: table; /* so that the underline spans only text width, and not the entire page */
  }
  h5 {
    font-size: 90%;
    font-weight: bold;
    display: inline;
  }
  h6 {
    font-size: 90%;
    font-weight: normal;
    color: black;
    display: inline;
  }
  hr {
    background: white;
    height: 1px;
    border: 0em;
    border-top: 1px solid #b3e6e6;
    margin: 1em 0em;
  }
  


  /* general styles: links */
/* a {
    color: #125ebc;
    text-decoration: none;
    border: none;
    this underline is further away from the text = more legibility
    border-bottom: 1px solid #125ebc;
  }
  a:visited {
    color: #005FA9;
    text-decoration: none;
    border: none;
      color: #638bbc; 
    this underline is further away from the text = more legibility 
    border-bottom: 1px solid #638bbc; 
  }*/
  a img, :link img, :visited img {
  border: none;border-bottom: 0;
  } 

  a {
    text-decoration: none;
    color: #005FA9;
    background: none;
  border: none;

  }
  /*a:visited {
    color: #5a3696;
  }*/
  a:active {
    color: #faa700;
  }
  a img:hover {
    text-decoration: none;
    border-bottom: 0;
  }
  a:hover {
    color: #faa700;
    text-decoration: none;
  }
  a.stub {
    /*color: #772233;*/
  }
  a.new {
  /*	color: #ba0000;*/
  }

  /*a.new:visited {
    color: #a55858;
  }*/



  /* general styles: lists */
  ul, ol {
    margin-left: 1.8em;
    padding: 0em;
  }
  dt {
    margin-left: 1.8em;
  }
  /* general styles: tables */
/*  table {
    border-collapse: collapse; 
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: -0.6em;
    margin-right: -0.6em;
  }

  table td,table th {
    padding: 0.3em 0.6em;
    vertical-align: top;
    text-align: left;
  }
  table th {
    border-bottom: 1px solid #b3e6e6;
  }
  */
  table caption {
    text-align: left;
    font-weight: normal;
    color: #4FBBBB;
    padding: 0em;
    /*_padding: 0em 0.6em;*/ /* hack for IE6: it understands padding differently here */
  }

  /* specific styles */
  h1#page-title {
    font-size: 180%;
    font-weight: normal;
    color: #125ebc;
    letter-spacing: -1px;
    display: block;
    border: 0em;
    padding: 0em;
    margin: 0em;
    line-height: 100%;
  }
  div#g_description {
    font-size: 140%;
    font-weight: normal;
    color: #125ebc;
  }

  /* correcting horizontal margins for different layouts */

  body#twocolumn-left div#header {
    padding-left: 25px;
  }

  /** END CUSTOM SKIN **/
  
.markdowntitle {
  visibility: hidden;
  display: none;
}



blockquote {
  background-color: rgba(128,128,128,0.05);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px 20px;
  border-left-width: 10px;
  font-size: small;
}

blockquote>:first-child {
    margin-top:0;
}

blockquote>:last-child {
    margin-bottom:0;
}

.progress-bar {
  color: darkgreen;
}

.nav>li>a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
    color: #767676;
}

.nav>li.nav-header>a {
    display: block;
    padding: 0px 0px;
    font-size: 11px;
    font-weight: 500;
    color: #660000;
}

.nav-header {
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #3f3f3f;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.nav-list .divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ddd;
}

#main {
  margin-top: 40px;
}