<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>  
    <rewrite>
        <rules>
            <rule name="old blog post permalinks">
                <match url="^blog/index.php" />
                <conditions>
                    <add input="{QUERY_STRING}" pattern="entry=(.*)$" />
                </conditions>
                <action type="Rewrite" url="/blog/{C:1}.html" appendQueryString="false" />
            </rule>
            <rule name="old blog static page permalinks">
                <match url="^blog/static.php" />
                <conditions>
                    <add input="{QUERY_STRING}" pattern="static=(.*)$" />
                </conditions>
                <action type="Rewrite" url="/blog/{C:1}.html" appendQueryString="false" />
            </rule>
            <rule name="Old php blog root" stopProcessing="true">
                <match url="^blog/index.php$" />
                <action type="Redirect" url="index.html" />
            </rule>
            <rule name="setpage.php redir" stopProcessing="true">
                <match url="^setpage.php" />
                <conditions>
                    <add input="{QUERY_STRING}" pattern="page=(.*)$" />
                </conditions>
                <action type="Redirect" url="/{C:1}" appendQueryString="false" />
            </rule>
            <rule name="Root Hit Redirect" stopProcessing="true">
                <match url="^$" />
                <action type="Redirect" url="index.html" />
            </rule>
            <rule name="Very old root" stopProcessing="true">
                <match url="^~william/$" />
                <action type="Redirect" url="index.html" />
            </rule>
            <rule name="Old cracklock location" stopProcessing="true">
                <match url="^cracklock/$" />
                <action type="Redirect" url="software/cracklock/" />
            </rule>
            <rule name="Old thesis location" stopProcessing="true">
                <match url="^mscthesis/$" />
                <action type="Redirect" url="research" />
            </rule>
            <rule name="Old software location" stopProcessing="true">
                <match url="^softwares/$" />
                <action type="Redirect" url="software" />
            </rule>
            
          
        </rules>
    </rewrite>

    <httpErrors errorMode="Custom">
    <clear/>
    <error statusCode="404" path="/404.html" responseMode="Redirect"/>
    </httpErrors>

</system.webServer>
<system.web>    
    <customErrors mode="On">
        <error statusCode="404" redirect="/404.html"/>
    </customErrors>
</system.web>
</configuration>