{% extends "page_template.html" %}

{% block head %}
<meta name="description" content="{{ model.Article.Description | trimHtml }}" />
<meta name="keywords" content="{% for t in model.Article.Tags %}{{ t }}, {% endfor %}" />

<meta property="og:title" content="{{ model.Article.Title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ model.Article.Url }}" />
<meta property="og:image" content="{{ model.Article.Image }}" />
<meta property="og:description" content="{{ model.Article.Description | trimHtml }}" />

{% endblock %}


{% block body %}

  <div id="before-post" ></div>
  {{ model.Article.Body }}

  <p id="after-post" style="padding-bottom: 1cm;" />     
  
{% endblock %}

