<!--
    
    Footers are buggy on IE and Edge...
footer class="footer">
<div class="container">
<p class="text-muted">
This is a disturbance, if you are reading this you have just been disturbed.
(This is an outdated warning that predates the invention of Facebook, twitter,...)
</p>
</div>
</div>

-->